@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">);

body {
box-sizing: border-box;
background-image: url(lamborghini-logo-4k-wallpaper.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-family: sans-serif;
text-decoration: none;
,margin: 0;
padding: 0;
list-style: none;
}

 .sec-1 {

align-items: start;
color: hwb(44 37% 19% / 0.986);

 }
 img{
    max-width: 100;
}

.charset {
color: aliceblue;
    background-color: transparent;
    height: 350;
    width: 350;
    border: solid;
    border-color: burlywood;
}

.sec-2 {

    color: #ffffff;
}




